In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import data using datetime and set index to datetime
data = pd.read_csv(r'D:\Y\DATA\PREPROCESS\Book1.csv', parse_dates=['Date'], index_col=['Date'])

In [15]:
data

,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,SR
Date,,,,,,,,,,,
2017-01-01 00:00:00,162.00,227.00,35.43,84.29,21.52,1.95,8.33,71.83,0.93,127.25,12.25
2017-01-01 01:00:00,165.17,226.17,49.52,83.79,21.76,2.16,8.98,73.25,0.51,103.50,12.17
2017-01-01 02:00:00,176.67,215.33,48.78,76.69,21.82,1.96,10.48,74.92,0.79,96.92,12.42
2017-01-01 03:00:00,150.67,177.50,26.71,77.01,21.70,1.74,12.88,75.08,1.13,106.75,12.17
2017-01-01 04:00:00,129.50,174.50,115.47,63.65,22.54,2.30,14.71,75.33,0.31,197.25,12.25
...,...,...,...,...,...,...,...,...,...,...,...
2023-04-06 11:00:00,43.25,114.50,26.00,146.35,14.17,0.50,8.32,49.65,1.30,133.75,126.70
2023-04-06 12:00:00,54.75,127.00,17.30,150.57,18.47,0.50,10.60,47.67,1.05,265.25,121.85
2023-04-06 13:00:00,80.00,189.00,NaN,NaN,NaN,0.50,NaN,53.27,1.45,140.25,116.50
2023-04-06 14:00:00,107.25,223.75,NaN,NaN,NaN,0.50,NaN,45.43,1.65,157.25,128.52
2023-04-06 15:00:00,90.00,229.00,NaN,NaN,NaN,0.50,NaN,43.20,1.00,31.50,120.65

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 56296 entries, 2017-01-01 00:00:00 to 2023-04-06 15:00:00
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   48155 non-null  float64
 1   PM10    46748 non-null  float64
 2   NO      43489 non-null  float64
 3   NO2     46405 non-null  float64
 4   SO2     47060 non-null  float64
 5   CO      43814 non-null  float64
 6   Ozone   47566 non-null  float64
 7   RH      48905 non-null  float64
 8   WS      49113 non-null  float64
 9   WD      48739 non-null  float64
 10  SR      47765 non-null  float64
dtypes: float64(11)
memory usage: 5.2 MB

In [17]:
data.columns

Index(['PM2.5', 'PM10', 'NO', 'NO2', 'SO2', 'CO', 'Ozone', 'RH', 'WS', 'WD',
       'SR'],
      dtype='object')

In [18]:
data.columns.min()

'CO'

In [19]:
print(data.min())

PM2.5    0.20
PM10     1.00
NO       0.10
NO2      0.20
SO2      0.10
CO       0.00
Ozone    0.10
RH       0.23
WS       0.12
WD       1.00
SR       0.00
dtype: float64

In [20]:
print(data.max())

PM2.5     985.00
PM10     1000.00
NO        500.00
NO2       499.20
SO2       195.48
CO         19.70
Ozone     199.83
RH         99.70
WS          8.36
WD        358.00
SR        739.10
dtype: float64